.container {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* margin: 0;
    padding: 0; */
}
.container-1 {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 20px;
  margin-bottom: 50px;
  font-size: 55px;
  font-weight: bold;
}

img {
  width: 100px;
  height: 80px;
  object-fit: contain;
}
.btn-outline-secondary {
  margin: 5px;
}

.jumbotron {
  background-image: url("../img/pexels-yuri-manei-2690323.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.display-4 {
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
}

body {
  min-height: 100vh;
}

.text-gray {
  color: #aaa;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  position: relative;
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: rgb(247, 245, 247);
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.fa-shopping-cart {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: -20px;
}
#cart_item_count {
  margin-left: -20px;
  margin-bottom: -5px;
}

.itemContainer {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
}
.item_image {
  width: 70px;
  height: 70px;
  background-image: url("../img/tshirts/1.jpg");
  background-size: contain;
}
.item_description {
  height: 70px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item_description > p,
h4 {
  margin: 0;
  padding: 0;
}

.item-qty {
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.item-qty > div,
p {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
}

.item-qty > p {
  text-align: center;
  width: 30px;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.itemprice {
  text-align: center;
  width: 30px;
  margin-left: 10px;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.purchasebutton {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#btnpurc {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
#btnpurc:hover {
  background: rgb(150, 150, 146);
  color: rgb(247, 241, 241);
}

#add {
  background: chocolate;
  border-radius: 3px;
  margin-bottom: 5px;
  height: 30px;
  padding: 0;
}
#add > p {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#minus {
  background: cornflowerblue;
  border-radius: 3px;
}
